.navbar {
    box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}

h2 {
    margin: 0;
}

.navbar .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    background: white;
    padding: 0 20px;
}

.wrapper {
    max-width: 1280px;
    margin: 0px auto;
    padding: 0px 12px;
}

.navbar__site-name {
    color: #489846;
    font-size: 36px;
    font-family: Questrial-Regular;
}

.navbar__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 18px;
}

.navbar__list li {
    margin-left: 12px;
    border-radius: 8px;
    transition: background 0.1s;
}

.navbar__list li.active, .navbar__list li:hover  {
    background: #ff7286;
}

.navbar__list li.active a, .navbar__list li:hover a {
    color: #fefefe;
}

.navbar__list li a {
    padding: 12px 24px;
    text-decoration: none;
    display: block;
    color: black;
}

.lotterys {
    max-width: 1920px;
    margin: 0 auto;
    display:relative;
}

.bg {
    display:flex;
    height:767px;
    background:url(games-bn.png) center/cover no-repeat;
}

.first {
    height:767px;
    background:url(first.jpg) center/cover no-repeat;
}

.first:after {
    height: 767px;
    background: url(first.jpg) center/cover no-repeat;
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.35);
    top: 84px;
    left: 0;
    right: 0;
    bottom: 0;
}

.second {
    height:767px;
    background:url(second.jpg) center/cover no-repeat;
}

.second:after {
    height:767px;
    background:url(second.jpg) center/cover no-repeat;
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.35);
    top: 84px;
    left: 0;
    right: 0;
    bottom: 0;
}

.third {
    height:767px;
    background:url(third.jpg) center/cover no-repeat;
}

.third:after {
    height:767px;
    background:url(third.jpg) center/cover no-repeat;
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.35);
    top: 84px;
    left: 0;
    right: 0;
    bottom: 0;
}

.none {
    height:767px;
    background:black;
    color: white;
}

.prize {
    position: relative;
    text-align: center;
    z-index: 2;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, 50%);
}

.prize__desc {
    font-size: 36px;
    padding:15% 0 5% 0;
    text-align: center;
}

.lottery {
    text-align: center;
    margin: 55px auto;
    width: 500px;
    height: 560px;
    background: white;
    border-radius: 16px;
}

h1 {
    color:#5ec1b6;
    font-size: 24px;;
    font-family: MicrosoftJhengHeiBold;
    padding:25px 0px;
    margin:0;
}

.lottery__info {
    display: flex;
    border-bottom: solid 1px #cdcdcd;
    text-align: left;
    margin:20px;
    padding-bottom:20px;
    line-height: 1.5em;
}

.lottery__info__title {
    flex:3;
    color:#322929;
    font-size: 18px;
    font-weight: bold;
}

.lottery__info__desc {
    flex: 7;
    color: #322929;
    font-size: 16px;
}

input {
    padding: 18px 160px;
    background:#e62a45;
    color: white;
    font-size:20px;
    border-radius: 8px;
    border: none;
    margin-top:7px;
    cursor: pointer;
}

.footer__info {
    margin-right: 16px;
}

.footer__bottom {
    background: #35564b;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: MicrosoftJhengHei;
    padding: 15px 0px;
}

.footer__top {
    background: #e8efee;
    font-size: 13px;
    color: #484848;
    padding: 40px;
}

.footer__top .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__info div + div {
    margin-top: 10px;
}

.footer__site {
    font-size: 36px;
    color: #489846;
    font-family: Questrial;
}

.footer__left div + div {
    margin-top: 10px;
}

@media (max-width: 768px){
    .navbar {
        padding: 0;
    }

    .navbar .wrapper {
        height: 130px;
        flex-direction: column;
        justify-content: space-around;
        padding: 0px;
    }
    
    .navbar__site-name {
        margin-top: 10px;
    }

    .navbar__list {
        display: flex;
        width: 100%;
    }
    
    .navbar__list li {
        flex: 1;
        margin-left: 0;
        border-radius:0;
        justify-content:space-between;
        text-align: center;
    }

    .lottery {
        margin: 30px auto;
        max-width: 350px;
        min-height: 620px;
    }
    
    h1 {
        font-size: 20px;;
        padding-top:30px;
        padding-bottom:15px;
        margin:0;
    }
    
    .lottery__info {
        margin:10px 20px;
        padding-bottom:20px;
        line-height: 1.8em;
    }
    
    .lottery__info__title {
        font-size: 16px;
    }
    
    .lottery__info__desc {
        flex: 7;
        color: #322929;
        font-size: 16px;
    }
    
    input {
        padding: 18px 70px;
        font-size:16px;
    }
    
    .prize__desc {
        font-size:20px;
        padding: 30% 10% 10% 10%;
    }

    .footer__top .wrapper {
        flex-direction: column-reverse;
    }

    .footer__info {
        margin-right: 0;
        margin-top: 16px;
    }
}