body {
  margin:0;
  background:#C5CAE9;
}
.warning {
  background: #303F9F;
  color: #C5CAE9;
  padding: 10px;
  text-align: center;
}

.warning__login{
  display:inline-block;
  margin-top:10px;
  margin-bottom:0;
  color:#303F9F;
}

.board {
  background: white;
  padding:10px 30px;
  width:100%;
  max-width:600px;
  margin:30px auto;
  box-shadow: 1px 1px 3px #e8e8e8;
  border-radius: 5px;
}

h1{
  padding:20px 0px;
  margin:0;
}

h2 {
  color:red;
  margin-top:0;
}

.board__btn {
  text-decoration: none;
  display: inline-block;
  padding:8px 20px;
  border:solid 1px #C5CAE9;
  border-radius: 5px;
  font-size: 15px;
  color:black;
  background: white;
  margin-bottom: 20px;
}

.comment__nickname {
  margin: 15px 0;
}

.nickname_btn{
  border:solid 1px #C5CAE9;
  padding:5px;
  border-radius: 5px;
  width:180px;
  height:28px;
}

.sayhi {
  display: flex;
}

.update_nickname {
  border:solid 1px #C5CAE9;
  height:20px;
  margin-top:15px;
  margin-left:5px;
  font-size:15px;
  padding:8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.hide {
  display:none;
}

.comment__content{
  display: flex;
  margin-top:10px;
}

textarea {
  flex:9;
  border:solid 1px #C5CAE9;
  border-radius: 5px;
  margin-right:10px;
}

.board__submit_btn{
  flex:1;
  height:40px;
  width:75px;
  border:solid 1px #C5CAE9;
  border-radius: 5px;
  font-size: 15px;
  background: white;
  margin-bottom:20px;
  cursor: pointer;
}

.board__hr{
  max-width:100%;
  background:#e8e8e8;
  height:2px;
  margin:20px auto;
}

.card {
  display: flex;
  margin:30px auto;
}

.card__avatar{
  min-width:50px;
  height:50px;
  border-radius: 50%;
  background:#C5CAE9;
}

.card__body{
  margin-left:20px;
}

.card__author{
  color: #303F9F;
  font-weight: bold;
}

.card__time{
  color:#afafb7;
  margin-left: 5px;
}

.card__content{
  margin:5px auto;
  word-break: break-word;
  white-space: pre-line;
}

.admin {
  max-width:800px;
}

table { 
  border:1px solid #000; 
  font-size:16px; 
  width:100%;
  text-align:center;
  border-collapse:collapse;
} 

th { 
  background-color: #303F9F;
  border:1px solid #C5CAE9;
  padding: 10px 5px;
  color: #C5CAE9;
} 

td { 
  border:1px solid #000;
  padding:10px 5px;
} 

.edit-btn {
  padding:5px;
  text-decoration: none;
  border: solid 1px #303F9F ;
  color:#303F9F;
  border-radius: 5px;
  background: white;

}

select {
  padding:5px;
  text-decoration: none;
  border: solid 1px #303F9F ;
  color:#303F9F;
  border-radius: 5px;
  background: white;
}

.page_info {
  text-align: center;
}

.paginator {
  display: flex;
  justify-content: center;
}

.paginator a {
  text-decoration: none;
  padding:8px 20px;
  border:solid 1px #C5CAE9;
  border-radius: 5px;
  font-size: 15px;
  color:black;
  background: white;
  margin:25px 5px;
  justify-content: center;
}